


@model List<User>



<div class="container">

    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">


            <form asp-controller="Personnel" asp-action="Search_user" method="post">

                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav form-inline">

                        <select class="form-control" name="Search_table" id="Search_table" required>
                            <option value="user">User</option>
                            <option value="personnel">Personnel</option>
                        </select>

                        <select class="form-control" name="Search_type" id="Search_type" required>
                            <option value="email">E-Mail</option>
                            <option value="name">Name</option>
                        </select>

                        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="Search" name="Search" placeholder="Search" aria-label="Search">

                        <button class="btn btn-primary" type="submit">Search</button>

                    </div>
                </div>

            </form>
        </nav>
    </div>

</div>





<table class="customers">
    <thead>
        <tr>
            <th>
                E-mail
            </th>
            <th>
                Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                State
            </th>
            <th>
                Money
            </th>
            <th>
                Status
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        
            @if (Model.Count() > 0)
            {
                

                @foreach (var col in Model)
                {
                    <tr>

                        <th>
                            @col.email
                        </th>

                        <th>
                            @col.name
                        </th>

                        <th>
                            @col.phone_number
                        </th>

                        <th>
                            @col.state

                        </th>

                        <th>
                            @col.money
                        </th>

                        <th>

                            @if (col.status_ban == 1)
                            {
                                <p>ติดโทษ</p>
                            }
                            else
                            {
                                <p>ปกติ</p>

                            }

                        </th>

                        <th>
                            @if (col.state != "Admin" && col.email != Context.Session.GetString("Useremail") )
                            {
                                @if (col.status_ban == 0)
                                {

                                    @if (Context.Session.GetString("Userstate") == "Admin")
                                    {

                                        <button class="btn btn-primary" id="statemodel" name="statemodel" onclick="chang_state('@col.email')" >ระดับ</button>
                                    }


                                    @if (Context.Session.GetString("Userstate") != "Driver")
                                    {

                                        <button class="btn btn-warning" id="moneymodel" name="moneymodel" onclick="addmoney('@col.email')">เติมเงิน</button>
                         
                                    }



                                    <button class="btn btn-danger" id="banmodel" onclick="ban_ajax('@col.email')" >แบน</button>

                                }
                                else
                                {
                                    <button class="btn btn-success" id="unbanmodel" name="unbanmodel" onclick="unban_ajax('@col.email')">ปลดแบน</button>

                                }

                            }
       


                        </th>
                    </tr>
                }



            }
            else
            {
                <div class="text1">
                    ไม่พบข้อมูล
                </div>
            }
    
    </tbody>
</table>
<!---------------------------------------ban----------------------->
<div class="modal fade" id="ban" role="dialog">
    <div class="modal-dialog">

        <form asp-controller="Personnel" asp-action="Change_ban" method="post">

            <input type="hidden" id="parse_value_ban" name="parse_value_ban" value="0" />
            <input type="hidden" id="user_email" name="user_email"  />
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">บล็อกผู้ใช้งาน</h4>
                </div>
                <div class="modal-body">

                    <div>
                        <label>Email</label>
                        <p id="emailmodel" ></p>
                    </div>

                    <div>
                        <label>Name </label>
                        <p id="namemodel"></p>
                    </div>

                    <div>
                        <label>Description</label> <br />
                        <select class="form-control form-control-lg" name="explanation_ban" id="explanation_ban" >
                            <option value="ไม่มาขึ้นรถในเวลาที่กำหนด" selected>ไม่มาขึ้นรถในเวลาที่กำหนด</option>
                            <option value="ก่อนกวนพนักงาน">ก่อนกวนพนักงาน</option>
                        </select>
                    </div>

                    </div>
                <div class="modal-footer">
                    <button type="submit" name="submit" id="submit" class="btn btn-default"      value="1">OK</button>
                </div>
            </div>
        </form>

    </div>
</div>

<div class="modal fade" id="unban" role="dialog">
    <div class="modal-dialog">

        <form asp-controller="Personnel" asp-action="Change_ban" method="post">

            <input type="hidden" id="parse_value_ban" name="parse_value_ban" value="1" />
            <input type="hidden" id="unban_user_email" name="user_email" />
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ปลดบล็อกผู้ใช้งาน</h4>
                </div>
                <div class="modal-body">

                    <div>
                        <label>Email</label>
                        <p id="unban_emailmodel"></p>
                    </div>

                    <div>
                        <label>Name </label>
                        <p id="unban_namemodel"></p>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" name="submit" id="submit" class="btn btn-default" value="0">OK</button>
                </div>
            </div>
        </form>

    </div>
</div>

<!---------------------------------------addmoney----------------------->

<div class="modal fade" id="addmoney" role="dialog">
    <div class="modal-dialog">

        <form asp-controller="Personnel" asp-action="addmoney" method="post">

            <input type="hidden" id="money_user_email" name="user_email" />
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">เติมเงินผู้ใช้งาน</h4>
                </div>
                <div class="modal-body">

                    <div>
                        <label>Email</label>
                        <p id="money_emailmodel"></p>
                    </div>

                    <div>
                        <label>Name </label>
                        <p id="money_namemodel"></p>
                    </div>

                    <div>
                        <label>Money </label>
                        <p id="money_moneyuser"></p>
                    </div>

                    <div>
                        <label>Add Money</label>
                        <input type="number" min="1" step="any" name="value_money" required value="0"/>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="submit" name="submit" id="submit" class="btn btn-default" >OK</button>
                </div>
            </div>
        </form>

    </div>
</div>

<!---------------------------------------changstate------------------------------------>

<div class="modal fade" id="changstate" role="dialog">
    <div class="modal-dialog">

        <form asp-controller="Personnel" asp-action="change_state" method="post">

            <input type="hidden" id="state_user" name="state_user" />
            <input type="hidden" id="state_user_email" name="state_user_email" />
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">เปลี่ยนระดับ</h4>
                </div>
                <div class="modal-body">

                    <div>
                        <label>Email</label>
                        <p id="state_emailmodel" ></p>
                    </div>

                    <div>
                        <label>Name </label>
                        <p id="state_namemodel"></p>
                    </div>

                    <div>
                        <label>State </label>
                        <p id="state_statemodel"></p>
                    </div>

                    <div>
                        <label>Chang State</label>
                        
                        <select class="form-control form-control-lg" name="select_state1" id="select_state" >
                            <option value="Ticketing" selected>Ticketing</option>
                            <option value="Driver ">Driver </option>
                        </select>
                    </div>

                    <div id="from-driver" name=""from-driver" style="display : none">
                       
                            <label>Select Car Number</label> 
                            <select class="form-control form-control-lg" name="changcar_number1" id="changcar_number" >
                                <option value="1" selected>1</option>
                                <option value="2">2 </option>
                                <option value="3">3 </option>
                                <option value="4">4 </option>
                                <option value="5">5 </option>
                                <option value="6">6 </option>
                                <option value="7">7 </option>
                                <option value="8">8 </option>
                                <option value="9">9 </option>
                                <option value="10">10 </option>
                            </select>

                    </div>
                    

                   </div>

                    <div class="modal-footer">
                    <button type="submit" name="submit" id="submit" class="btn btn-default">OK</button>
                    </div>
            </div>
        </form>

    </div>
</div>




<script>

    $('#select_state').change(function ()
    {

        var check = $('#select_state').val();

   
        if (check == "Ticketing")
        {
            $("#from-driver").hide();

        }
        else if(check == "Driver")
        {

            $("#from-driver").show();
        }
    });

    function ban_ajax(email)
    {




        $.ajax({
            type: "get",
            url: "/Personnel/get_profile",
            data: { email: email },
            success: function (data) {

                $('#emailmodel').text(data.email);

                $('#namemodel').text(data.name);

                $('#user_email').val(data.email);

                $('#ban').modal();
            }

        });

    }

    function unban_ajax(email) {


        $.ajax({
            type: "get",
            url: "/Personnel/get_profile",
            data: { email: email },
            success: function (data) {

                $('#unban_emailmodel').text(data.email);

                $('#unban_namemodel').text(data.name);

                $('#unban_user_email').val(data.email);

                $('#unban').modal();
            }

        });




    }

    function addmoney(email) {


        $.ajax({
            type: "get",
            url: "/Personnel/get_profile",
            data: { email: email },
            success: function (data) {

                $('#money_emailmodel').text(data.email);

                $('#money_namemodel').text(data.name);

                $('#money_user_email').val(data.email);

                $('#money_moneyuser').text(data.money);


                $('#addmoney').modal();
            }

        });




    }

    function chang_state(email)
    {

        $.ajax({
            type: "get",
            url: "/Personnel/get_profile",
            data: { email: email },
            success: function (data) {

                $('#state_emailmodel').text(data.email);

                $('#state_namemodel').text(data.name);

                $('#state_user_email').val(data.email);

                $('#state_statemodel').text(data.state);

                $('#state_user').val(data.state);
                
                

                $('#changstate').modal();
            }

        });

    }




</script>




<body class="m"></body>


