@using System.Collections.Generic
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Identity
@using Project_Web_db.Models




@model List<Search_busscheduleViewModel>

<div class="container body-content">

    <input type="hidden" id="popup" value="@ViewBag.alert" />


    @if (ViewBag.route == 1)
    {

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li>
                        <a href='@Url.Action("Search_busschedule", "Ticket_personnel", new {route = 1, station = 1})'>
                            โพหัก
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Search_busschedule", "Ticket_personnel", new {route = 1, station = 2 })'>
                            คริสเตียน
                        </a>
                    </li>
                    <li>
                        <a href='@Url.Action("Search_busschedule", "Ticket_personnel", new {route = 1, station = 3 })'>
                            บ้านแพ้ว
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    }
    else
    {

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="@Url.Action("Search_busschedule", "Ticket_personnel", new {route = 2, station = 5})">
                            สายใต้
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("Search_busschedule", "Ticket_personnel", new {route = 2, station = 4})">
                            โพนิมิตร
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    }


        @if (Model.Count() != 0  && ViewBag.check_driver != null)
        {


            <input type="hidden" id="state" value="@Context.Session.GetString("Userstate").ToString()" />

            <table class="table">
                <thead>
                    <tr>
                        <th>หมายเลขรถ</th>
                        <th>เบอร์ติดต่อ</th>
                        <th>เวลา</th>
                        <th>
                             ดูผู้โดยสาร
                        </th>


                    </tr>
                </thead>

                <tbody>
                    @{int index = 0;}
                    @foreach (var col in Model)
                    {
                        @if (col.email_driver == Context.Session.GetString("Useremail"))
                        {
                            <input type="hidden" id="id_@index" value="@col.id" />
                            <input type="hidden" id="time_@index" value="@col.time" />


                            <tr>
                                <td>@col.car_number</td>
                                <td>@col.phone_number</td>
                                <td>@col.time</td>

                                <td>
                                    <button class="btn btn-success" onclick="location.href='@Url.Action("Check_userInschedule", "Personnel", new { id = col.id })'">รายละเอียดการจอง</button>
                                </td>

                            </tr>

                        }



                        index++;
                    }
                </tbody>


            </table>
         }

        @if(ViewBag.check_driver != null)
        {
              <p>ไม่มีรอบรถที่คุณต้องวิ่ง</p>
        }
        else
        {
            <div class="container">
                ระบบยังไม่พร้อมใช้งาน
                กรุณารอเจ้าหน้าที่เปิดทำการ
            </div>

        }




</div>






